[submodule "website/themes/hugo-texify3"]
	path = website/themes/hugo-texify3
	url = https://github.com/michaelneuper/hugo-texify3.git
	branch = master
[submodule "build-your-own-x/codecrafters-http-server-rust"]
	path = build-your-own-x/codecrafters-http-server-rust
	url = https://github.com/cndoit18/codecrafters-http-server-rust.git
	branch = master
[submodule "build-your-own-x/codecrafters-kafka-rust"]
	path = build-your-own-x/codecrafters-kafka-rust
	url = https://github.com/cndoit18/codecrafters-kafka-rust.git
	branch = master
